.container {
    display: flex;
    flex-direction: column;
    width: 685px;
    height: 100%;
    justify-content: center;
}

#sell_title {
    position: relative;
    align-self: start;
    top: 20px;
    left: 30px;
    padding-bottom: 56px;
}

#puller {
    position: relative;
    padding-left: 109px;
    padding-right: 55px;
    padding-bottom: 5px;
}

#horse1 {
    position: relative;
    padding-left: 122px;
    padding-right: 55px;
    padding-bottom: 24px;
}

#helper {
    position: relative;
    padding-left: 109px;
    padding-right: 55px;
    padding-bottom: 4px;
}

#horse2 {
    position: relative;
    padding-left: 122px;
    padding-right: 55px;
    padding-bottom: 19px;
}

#city {
    position: relative;
    padding-left: 109px;
    padding-right: 55px;
    padding-bottom: 39px;
}

#representation {
    position: relative;
    padding-left: 48px;
    padding-right: 55px;
    padding-bottom: 36px;
}

#tickets {
    position: relative;
    padding-left: 82px;
    padding-right: 55px;
    padding-bottom: 17px;
}

#tv {
    position: relative;
    padding-left: 82px;
    padding-right: 55px;
}

#bonus {
    position: relative;
    padding-left: 48px;
    padding-right: 55px;
    padding-bottom: 8px;
}

#payment {
    position: relative;
    padding-right: 48px;
}

#payment_checkboxes {
    display: flex;
    justify-content: center;
    flex-direction: column;
}